#Login-page{
  border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    

}
body{
    background-color: beige;

}

button{
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
}