#Login-page {
  border: 2px solid black;
  text-align: center;
  margin-top: 150px;
 padding-left: ;
}
body {
  background-color: beige;
}

button {
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
}
#LoginButton {
  margin: 5px;
  padding: 5px;
}


