#Login-page {
  border: 2px solid black;
  text-align: center;
  margin-top: 150px;
}

body {
  background-color: rgb(224, 224, 224);
}

button {
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
}
#LoginButton {
  margin: 5px;
  padding: 5px;
}


#container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

