body, html {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.navigatie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(54, 54, 54); 
  padding: 1em;
  margin-bottom: 0;
}
.navigatie img {
  height: auto;
  width: 100%;
  background-color: rgb(195, 195, 195);
  border-radius: 50%;
}
.navigatie a {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 10px;
  overflow: hidden;
  object-fit: contain;
}
.navigatie a:hover {
  filter: brightness(80%);
}
#search {
  width: 60%;
  margin: 0 10px;
  background-color: rgb(214, 214, 214);
  border-style: none;
  padding: 0.6em;
  border-radius: 3em;
  margin: 0px;
  font-size: large;
}
.navrechts {
  display: flex;
}
.sidebar {
  background-color: rgb(214, 214, 214);
  width: 18em;
  height: 50em;
  padding-top: 0%;
  margin: 1em 1em 1em 1em;
}
.linkerVak {
  width: 20em;
  border-right: solid 1px black;
}
.linkerVak a {
  text-decoration: none;
  color: black;
}
.linkerVak a:hover {
  color: rgb(71, 71, 169);
}
.linkerVak ul {
  list-style-type: none;
  padding-top: 0.7em;
}
.linkerVak li {
  margin-top: 2em;
}
.titeltje h1 {
  background-color: antiquewhite;
  margin-left: 1em;
  
}
.titeltje {
  background-color: aqua;
  display:grid
}
.container {
  display: flex;
  align-items: flex-start;
}
.artikel {
  background-color: rgb(107, 107, 107);
  width: 20%;
  margin-right: 20em;
  margin-top: 9em;
  
}
