.user-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 2em;
    
}
.user-info img{
    width: 20px;
    height: 20px;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 1em;
}

.user-info2{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 2em;
    
}
.user-info2 img{
    width: 20px;
    height: 20px;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 1em;
}
#Status{
    margin-left: 70%;
}