body, html, footer {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  margin: 0;
  padding: 0;
}
.navigatie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(54, 54, 54);
  padding: 1em;
  margin-bottom: 0;
}
.navigatie img {
  height: auto;
  width: 100%;
  background-color: rgb(195, 195, 195);
  border-radius: 50%;
}
.navigatie a {
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 10px;
  overflow: hidden;
  object-fit: contain;
}
.navigatie a:hover {
  filter: brightness(80%);
}
#search {
  width: 25%;
  margin: 0 10px;
  background-color: rgb(214, 214, 214);
  border-style: none;
  padding: 0.6em;
  border-radius: 3em;
  margin: 0px;
  font-size: medium;
}
.navrechts {
  display: flex;
}
.linkerVak {
  width: 20em;
  border-right: solid 1px black;
}
.linkerVak a {
  text-decoration: none;
  color: black;
}
.linkerVak a:hover {
  color: rgb(71, 71, 169);
}
.linkerVak ul {
  list-style-type: none;
  padding-top: 0.7em;
}
.linkerVak li {
  margin-top: 2em;
}
.titeltje h1 {
  background-color: antiquewhite;
  margin-left: 1em;
}
.titeltje {
  background-color: aqua;
  display: grid;
}
.container {
  display: flex;
  align-items: flex-start;
}
.artikel {
  background-color: rgb(201, 198, 198);
  width: 300px;
  height: 200px;
  padding: 30px;
  margin: 50px;
  box-shadow: 3px 3px 3px 3px rgb(80, 80, 80);
  border-radius: 1em;
}
#search-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 1em;
  margin-top: 100px;
}
.foto {
  width: 150px;
  margin-bottom: 10px;
  margin-left: 75px;
  background-color: rgb(201, 198, 198);
}

.naamEnzo {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.button-artikel a {
  text-decoration: none;
  color: white;
}

.button-artikel {
  width: 100px;
  border-radius: 30px;
  border: 1 solid rgb(35, 87, 219);
  background-color: rgb(35, 87, 219);
}
.button-artikel:hover {
  transform: scale(1.1);
}

#alle-artikelen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#Populaire-artikelen {
  margin-left: 200px;
  margin-top: 150px;
}

footer {
  background-color: black;
  margin-bottom: 0;
  color: white;
  height: 100%;
  padding: 1em;
}
.volledigeFooter {
display: flex;
justify-content: space-between;
}
.footer-content {

}
.buttonstuk {
margin-top: auto;
margin-bottom: auto;

}
.buttonstuk  img {
  width: 2em;
  margin-right: 0.5em;
}

.ehb-logo img{
  width: 3.5em;
  height: 3em;
  border-radius: 0;
  background-color: white;
}
.ehb-logo a{
  width: 3.5em;
}
.ehb-logo {
  width: 3.5em;
}