body, html {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.navigatie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(54, 54, 54);
  padding: 1em;
  margin-bottom: 0;
}

.navigatie img {
  height: auto;
  width: 100%;
  background-color: rgb(195, 195, 195);
  border-radius: 50%;
}

.navigatie a {
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 10px;
  overflow: hidden;
  object-fit: contain;
}
.navigatie a:hover {
  filter: brightness(80%);
}

#search {
  width: 60%;
  margin: 0 10px;
  background-color: rgb(214, 214, 214);
  border-style: none;
  padding: 0.6em;
  border-radius: 3em;
  margin: 0px;
  font-size: large;
}

.navrechts {
  display: flex;
}


.volledigeDiv {
  
  height: 900px;
  display: flex;
  justify-content: center;
}
.linkerDiv {
  background-color: rgb(214, 214, 214);
  width: 63%;
  height:fit-content;
  border-radius: 1.5em;
  margin-top: 1em;
}
.rechterDiv {
  width: 34%;
}
.bovenDiv {
  background-color: rgb(214, 214, 214);
  height: 30em;
  margin: 1em;
  margin-right: 0;
  border-radius: 1.5em;
}
.onderDiv {
  background-color: rgb(214, 214, 214);
  height: 30em;
  margin: 1em;
  margin-right: 0;
  border-radius: 1.5em;
}


.fotoDiv {
  display: flex;
  justify-content: center;
}
.fotoDiv img {
  width: 50%;
  margin: 0.5em;
}
.balkjeOnderFoto {
  display: flex;
  justify-content: space-between;
}
.balkjeOnderFoto p {
  font-size:x-large;
  font-weight: 600;
  margin: 1em;
}
.balkjeOnderFoto a img {
  width: 30px;
  height: 30px;
}
.balkjeOnderFoto a {
  margin: 1em;
}

.productBeschrijving {
  margin: 1em;
}
.productBeschrijving p {
  font-size: large;
}
.productBeschrijving h1 {
  font-size: large;
}

.kalenderDiv {
  display: flex;
  justify-content: center;
}
.kalenderDiv img {
  margin: 1em;
  margin-bottom: 0;
  border-radius: 0.5em;
  width: 70%;
}
.rechterDiv p {
  width: fit-content;
  font-size: x-large;
  margin-left: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.rechterDiv a {
  text-decoration: none;
  color: white;
  background-color: rgb(93, 93, 255);
  padding: 0.7em;
  font-size: xx-large;
  border-radius: 0.7em;
  width: 12em;
  text-align: center;
}
.knop1 {
  display: flex;
  justify-content: center;
}
.knop1:hover {
  filter: brightness(80%);
}
.knop2 {
  display: flex;
  justify-content: center;
  filter: brightness(60%);
}
footer {
  background-color: black;
  margin-bottom: 0;
  color: white;
  height: 100%;
  padding: 1em;
}
.volledigeFooter {
display: flex;
justify-content: space-between;
}
.footer-content {

}
.buttonstuk {
margin-top: auto;
margin-bottom: auto;

}
.buttonstuk  img {
  width: 2em;
  margin-right: 0.5em;
}

#searchprod{
  
}